<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="ติวเตอร์สอนพิเศษส่วนตัว ทั้งแบบเดี่ยว แบบกลุ่ม ครอบคลุมทุกวิชา ตั้งแต่ระดับอนุบาล ประถมศึกษา มัธยมศึกษา จนถึงมหาวิทยาลัย สอนพิเศษเตรียมสอบ เตรียมทหาร เข้ามหาวิทยาลัย O-NET GAT PAT SAT CU-TEP TU-GET IELTS"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="twitter:title" content="SIAM KNOWLEDGE"/>
  <meta name="twitter:image" content= "../assets/img/og.png" >

  <meta property="og:site_name" content="SIAM KNOWLEDGE" />
  <meta property="og:description" content="เรามีติวเตอร์ที่เป็นนักศึกษาอยู่หลายคณะ หลากหลายมหาวิทยาลัย ไม่ว่าจะเป็น แพทย์ศาสตร์ วิศวกรรมศาสตร์ วิทยาศาสตร์ ศิลปศาสตร์ ครอบคลุมหลายวิชา อีกทั้งยังมีเทคนิคในการสอนให้น้องๆเข้าใจได้ง่าย" />
  <meta property="og:title" content="SIAM KNOWLEDGE" />
  <meta property="og:image" content="../assets/img/og.png" />
  <meta property="article:author" content="https://www.facebook.com/SiamKnowledge"/>

  <link rel="icon" href="../assets/img/favi.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="../assets/img/favi.ico" type="image/x-icon"/>

  <title>Siam Knowledge</title>
  <link rel="stylesheet" href="../assets/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600&amp;subset=thai" rel="stylesheet">
  <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">





</head>
<body>
  <section class="ui-wrapper">
    <!-- Left Sidebar -->
    <div class="left-sidebar">
      <a href="#" class="close-button"></a>
      <div class="profile">
        <div class="profile-wrapper">
          <div class="profile-pic"></div>
          <div class="profile-name">
            <h1 id="name">John Appleseed</h1>
            <h2 id="type">Students</h2>
          </div>
        </div>
      </div>
      <div class="credits">
        <h1>1,200</h1>
        <h2>remain credits</h2>
      </div>

      <!-- Main Menu -->
      <ul class="menu">
        <li class="menu-button"><a href="#"><span class="menu-icon ion-person"></span>ข้อมูลของฉัน</a></li>
        <li class="menu-button"><a href="#"><span class="menu-icon ion-ios-bookmarks"></span>กิจกรรม</a></li>
        <li class="menu-button"><a href="#"><span class="menu-icon ion-ios-calendar"></span>คอร์สที่เลือกเรียน</a></li>
        <li class="menu-button"><a href="#"><span class="menu-icon ion-card"></span>เครดิต</a></li>
      </ul>
      <a href="#" class="class-register"><span class="ion-plus"></span>จองคอร์สเรียนใหม่</a>
    </div>

    <!-- End of Left Sidebar, Start of Main Content -->

    <!-- Logo -->
    <img src="../assets/img/siam-knowledge-logo.svg" class="logo" />

    <!-- Content Area -->
    <div class="content-area">

      <div class="float-button">
        <span>MENU</span>
      </div>
      <!-- Typography -->
      <h1 class="framework-topic">//Typography</h1>
      <h1 class="heading">Heading Text</h1><br>
      <h1 class="sub-heading">Sub-Heading Text</h1><br>
      <h2 class="large-topic">Large Topic Text</h2>
      <h2 class="topic">Topic Text</h2>
      <h3 class="description">Description Text</h3>
      <h2 class="result">Search Result Text with <span class="bold-orange">Bold Text</span></h2>

      <!-- Dropdown Selection -->
      <br>
      <h1 class="framework-topic">//Dropdown Selection</h1>
      <select class="dropdown-orange">
        <option value="" disabled selected hidden>Selection Box</option>
        <option>choice one</option>
        <option>choice two</option>
        <option>choice three</option>
      </select>

      <select class="dropdown-outerspace">
        <option value="" disabled selected hidden>Selection Box</option>
        <option>choice one</option>
        <option>choice two</option>
        <option>choice three</option>
      </select>

      <!-- Selection -->
      <br>
      <h1 class="framework-topic">//Selection</h1>
      <!--<ul class="select">
        <li class="selection"><a href="#">อินเตอร์</a></li>
        <li class="selection select-active"><a href="#">ธรรมดา</a></li>
      </ul>

      <ul class="select">
        <li class="selection"><a href="#">แบบเดี่ยว</a></li>
        <li class="selection select-active"><a href="#">แบบกลุ่ม</a></li>
      </ul>-->

      <ul class="select">
        <li class="selection">
          <input type="radio" id="a-option" name="type" checked="checked">
          <label for="a-option"><span class="ion-ios-world-outline"></span>อินเตอร์</label>
        </li>
        <li class="selection">
          <input type="radio" id="b-option" name="type">
          <label for="b-option"><span class="ion-ios-chatbubble-outline"></span>ธรรมดา</label>
        </li>
      </ul>

      <ul class="select">
        <li class="selection">
          <input type="radio" id="a-option" name="amount" checked="checked">
          <label for="a-option">แบบเดี่ยว</label>
        </li>
        <li class="selection">
          <input type="radio" id="b-option" name="amount">
          <label for="b-option">แบบกลุ่ม</label>
        </li>
      </ul>

      <!-- Text box -->
      <h1 class="framework-topic">//Text Box</h1>

      <input type="number" class="number-spin-input">
      <input type="text" class="normal-input">
      <textarea class="text-input" placeholder="Placeholder Text"></textarea>

      <!-- Buttons -->
      <h1 class="framework-topic">//Buttons</h1>
      <a href="#" class="button button-orange">Button</a>
      <a href="#" class="button button-grey">Button</a>

      <!-- Datepicker -->
      <h1 class="framework-topic">//Calendar</h1>
      <div id="datepicker"></div>

      <!-- Cards Layout -->
      <h1 class="framework-topic">//Cards</h1>
      <div class="card-large">
        <div class="card-divider">
          <div class="date"><h1>25<br><span>Dec</span></h1></div>
          <div class="subject-detail">
            <div class="subject-name"><h1>Subject Name<br><span>Condition...</span></h1></div>
            <div class="subject-description"><h2 class="subject-time">13:00 - 14:00</h2><h2 class="subject-location">Siam Discovery</h2></div>
          </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus pellentesque nunc, vel vestibulum metus bibendum consequat. Donec congue ex sit amet dui vehicula vehicula. Etiam quis metus lectus. Sed quis sagittis nunc, et ullamcorper dolor. Sed non purus tempus, feugiat lacus at, tincidunt felis. Fusce viverra sem ipsum, ac ultrices odio elementum at. Sed quis luctus tortor. Integer varius pellentesque laoreet. Curabitur urna lectus, condimentum eget lectus pellentesque, bibendum rhoncus diam.</p>
      </div>
      <div class="card-small-wrapper">
        <div class="card-small">
          <div class="date"><h1>25<br><span>Dec</span></h1></div>
          <div class="subject-detail">
            <div class="subject-name"><h1>Subject Name<br><span>Condition...</span></h1></div>
            <div class="subject-description"><h2 class="subject-time">13:00 - 14:00</h2><br class="card-breaker"><h2 class="subject-location">Siam Discovery</h2></div>
          </div>
        </div>
        <div class="card-small">
          <div class="date"><h1>25<br><span>Dec</span></h1></div>
          <div class="subject-detail">
            <div class="subject-name"><h1>Subject Name<br><span>Condition...</span></h1></div>
            <div class="subject-description"><h2 class="subject-time">13:00 - 14:00</h2><h2 class="subject-location">Siam Discovery</h2></div>
          </div>
        </div>
        <a href="#" class="reload-button"><span class="ion-ios-refresh-empty reload-icon"></span>reload</a>
      </div>
    </div>
  </section>
  <script src="../assets/js/jquery-3.1.1.js" type="text/javascript"></script>
  <script src="../assets/js/jquery-ui.js"></script>
  <script src="../assets/js/script.js" type="text/javascript"></script>
</body>
</html>
