/*------------------------*

     Siam Knowledge - Online
    © 2016 Siam Knowledge,  All rights reserved

     MVC Programming : @innneang
     Front-end Design UI/UX  : @Nutn0n
     CSS framework: @wonderbright

*------------------------*/


* { padding: 0; margin: 0; }

html, body{
  font-family: "Kanit", sans-serif;
  background: #f2f2f2;
  text-rendering: optimizeLegibility;
}

a{
  color: inherit;
  text-decoration: none;
}

/*------------------------*/
/*         Section        */
/*------------------------*/

.content-area{
  width: 100%;
  color: #666;
  box-sizing: border-box;
  padding: 50px;
  padding-left: 500px;
}

.ui-wrapper{
  width: 100vw;
  height: auto;
}

.left-sidebar{
  width: 450px;
  background: #273239;
  color: white;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.left-sidebar-active{
  width: 450px;
  opacity: 1;
}

/*------------------------*/
/*       Typography       */
/*------------------------*/


.heading{
  font-size: 45px;
  font-weight: 100;
  line-height: 60px;
  color: #333;
}

.sub-heading{
  font-size: 30px;
  font-weight: 200;
  line-height: 50px;
  color: #333;
}

.topic{
  font-size: 17px;
  font-weight: 200;
  line-height: 30px;
}

.large-topic{
  font-size: 20px;
  font-weight: 200;
  line-height: 28px;
}

.result{
  font-size: 17px;
  font-weight: 200;
  line-height: 30px;
  margin: 30px 0;
}

.bold-orange{
  font-weight: 300;
  color: #F09133;
}

.framework-topic{
  font-size: 20px;
  font-weight: 200;
  color: #cfcfcf;
  font-style: italic;
}

.description{
  font-size: 17px;
  font-weight: 200;
  color: #a1a1a1;
}

.menu-icon{
  font-size: 30px;
  color: #fff;
  padding-right: 20px;
  vertical-align: middle;
}

.menu-button .ion-checkmark-circled {
  color:#fff!important;
}

/*------------------------*/
/*          Input         */
/*------------------------*/

input {
  font-weight: 300;
  font-size: 15px;
}

@media screen and (min-width: 500px){
  .text-input{
    resize: none;
    width: 40%;
    min-width: 400px;
    height: 200px;
    border: 0;
    margin: 20px 0;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    color: #555;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    display: block;
    transition: .3s ease-in-out;
  }
  .number-spin-input{
    padding: 5px;
    background: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    display: block;
    margin: 20px 0;
    width: 15%;
    min-width: 200px;
    transition: .3s ease-in-out;
  }
  .normal-input{
    padding: 5px;
    background: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    display: block;
    margin: 20px 0;
    width: 15%;
    min-width: 200px;
    transition: .3s ease-in-out;
  }
  .large-normal-input{
    width: 40%;
  }
}

@media screen and (max-width: 500px) {
  .text-input{
    resize: none;
    width: 100%;
    height: 200px;
    border: 0;
    margin: 20px 0;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    color: #333;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    display: block;
    transition: .3s ease-in-out;
  }
  .number-spin-input{
    -webkit-appearance: none;
    padding: 5px;
    background: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    display: block;
    margin: 20px 0;
    width: 100%;
    transition: .3s ease-in-out;
    box-sizing: border-box;
  }
  .normal-input{
    padding: 5px;
    background: #fff;
    border: 0;
    outline: none;
    font-size: 16px;
    display: block;
    margin: 20px 0;
    width: 100%;
    transition: .3s ease-in-out;
    box-sizing: border-box;
  }
}

.text-input:hover{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .2s ease-in-out;
}

.text-input:focus{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
}

.text-input::placeholder{
  color: #d2d2d2;
  font-family: 'Kanit', sans-serif;
}

.number-spin-input:hover{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .2s ease-in-out;
}

.number-spin-input:focus{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
}

.normal-input:hover{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .3s ease-in-out;
}

.normal-input:focus{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
}

/*------------------------*/
/*         Button         */
/*------------------------*/

button {
  font-family: inherit;
  border: 0;
  padding: 5px 15px;
  color: #fff;
  font-weight: 200;
  margin: 20px 0;
  display: inline-block;
  font-size: 18px;
  transition: .3s ease-in-out;
}

.button{
  padding: 5px 15px;
  color: #fff;
  font-weight: 200;
  margin: 20px 0;
  display: inline-block;
  font-size: 18px;
  transition: .3s ease-in-out;
}

.button:hover{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .3s ease-in-out;
}

.button-orange{
  background: #F09133;
}

.button-red{
  background: #E78C8A;
}

.button-grey{
  background: #D6D6D6;
  color: #666;
}

.reload-button{
  font-size: 17px;
  font-weight: 200;
  color: #666;
  letter-spacing: 2px;
  text-align: center;
  display: block;
}

.reload-icon{
  padding-right: 10px;
  vertical-align: middle;
}

.hamburger{
  width: auto;
  height: auto;
  cursor: pointer;
}

.hamburger > div:nth-of-type(1){
  width: 30px;
  height: 2px;
  background: #333;
  margin-bottom: 4px;
}

.hamburger > div:nth-of-type(2){
  width: 25px;
  height: 2px;
  background: #333;
  margin-bottom: 4px;
}

.hamburger > div:nth-of-type(3){
  width: 28px;
  height: 2px;
  background: #333;
}


/*------------------------*/
/*     Upload   */
/*------------------------*/

/*------------------------*/
/*     Profile & Menu     */
/*------------------------*/

.profile{
  width: 100%;
  height: auto;
  margin-top: 40px;
}

.profile-wrapper{
  width: auto;
  height: auto;
  display: block;
  position: relative;
  text-align: left;
  margin-left: 20px;
  padding: 0 10%;
}

.profile-pic{
  height: 70px;
  width: 70px;
  border-radius: 200px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.profile-name{
  display: inline-block;
  vertical-align: middle;
}

.hovernothing:hover {
  box-shadow: none!important;
  background-color: #fafafa!important;
}


#name{
  font-weight: 200;
  font-size: 30px;
}

#type{
  font-weight: 200;
  font-size: 17px;
  color: rgba(255, 255, 255, 0.74);
  letter-spacing: 2px;
  text-align: left;
}

.credits{
  padding: 50px 0 50px 15%;
}

.credits-show{
  font-size: 30px;
  font-weight: 200;
  line-height: 50px;
}

.credits > h1{
  font-size: 60px;
  font-weight: 100;
  line-height: 50px;
}

.credits > h2{
  font-size: 20px;
  font-weight: 100;
}

.menu{
  padding: 0 10%;
  list-style: none;
  margin-bottom: 50px;
}

.menu-button{
  padding: 0 30px;
  font-size: 20px;
  font-weight: 200;
  line-height: 60px;
  margin-bottom: 20px;
  transition: .3s ease-in-out;
}

.menu-button:last-of-type{
  margin-bottom: 0;
}

.menu-button > a{
  color: white;
}

.menu-button:hover{
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .1s ease-in-out;
}

.class-register{
  width: 70%;
  box-sizing: border-box;
  padding: 15px 0;
  color: #fff;
  opacity: 0.8;
  font-size: 23px;
  font-weight: 200;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  transition: .2s ease-in-out;
}

.class-register:hover{
  transform: scale(1.1);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  background: #2e3b44;
  transition: .2s ease-in-out;
  color: #fff;
  opacity:1;
}

.class-register > .ion-plus{
  font-size: 30px;
  padding-right: 20px;
  vertical-align: middle;
}

.logo{
  width: 80px;
  height: auto;
  position: absolute;
  right: 3rem;
  top: 2rem;
}

.close-button{
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  display: none;
  z-index: 30;
}

.close-button:before, .close-button:after{
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.close-button:before{
  transform: rotate(45deg);
}

.close-button:after{
  transform: rotate(-45deg);
}

.float-button{
  display: none;
  background: #F09C40;
  position: fixed;
  z-index: 10;
  right: 2rem;
  bottom: 2rem;
  width: 60px;
  height: 60px;
  border-radius: 200px;
  cursor: pointer;
  text-align: center;
    transition: .3s ease-in-out;
}

.float-button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .1s ease-in-out;
}

.float-button span {
  display: inline-block;
  color:#fff;
  transform:translateY(16px);
}

.ion-checkmark-circled {
  color:#5CB766;
  transform: translateZ(1.2);
}

/*------------------------*/
/*      Dropdown Menu     */
/*------------------------*/

.dropdown-orange{
  width: 120px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  background: url('../img/arrow.png') no-repeat 95% #F09133;
  background-size: 7px 4px;
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  margin: 10px 0;
  outline: none;
  display: block;
}

.dropdown-orange:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .1s ease-in-out;
}

.dropdown-outerspace{
  width: 120px;
  padding: 5px;
  font-size: 14px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  background: url('../img/arrow.png') no-repeat 95% #273239;
  background-size: 7px 4px;
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  margin: 10px 0;
  outline: none;
  display: block;
}

.dropdown-outerspace:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.05);
  transition: .1s ease-in-out;
}

/*------------------------*/
/*        Selection       */
/*------------------------*/

.select{
  list-style: none;
  color: #666;
  font-weight: 200;
  font-size: 17px;
  padding: 20px 0;
}

.select label{
  padding: 10px 20px;
  border-radius: 100px /60px;
}

.select label > span{
  padding-right: 10px;
}

.select input[type="radio"] {
  opacity:0.011;
  z-index:100;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: .2s ease-in-out;
}

.select input[type="radio"]:checked + label {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.1) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px;
  background:#F09133;
  color: #fff;
  transition: .15s ease-in-out;
}

.selection{
  display: inline-block;
  margin-right: 40px;
  padding: 10px 15px;
  position: relative;
}

.selection:last-of-type{
  margin-right: 0;
}

.selection > a{
  color: #666;
}

.select-active{
  background: #F09133;
  color: white;
  border-radius: 200px / 120px;
}

.select-active > a{
  color: #fff;
}

/*------------------------*/
/*        Calendar        */
/*------------------------*/

#datepicker{
  display: inline-block;
  margin: 10px 0;
  height: 240px;
}

.ui-datepicker-calendar{
  border-collapse: collapse;
}

.ui-datepicker-inline{
  display: inline-block;
}

.ui-datepicker-calendar > thead{
  border-bottom: 1px solid #d2d2d2;
}

.ui-datepicker-calendar > thead span{
  font-weight: 500;
  font-size: 12px;
}

.ui-datepicker-calendar > tbody > tr > td{
  text-align: center;
  width: 30px;
  height: 30px;
}

.ui-datepicker-header{
  text-align: center;
}

.ui-datepicker-header > a{
  display: inline-block;
}

.ui-datepicker-header > a:nth-of-type(1){
  float: left;
}

.ui-datepicker-header > a:nth-of-type(2){
  float: right;
}

.ui-datepicker-title{
  display: inline-block;
}

.ui-state-default{
  font-size: 12px;
  color: #333;
  font-weight: 400;
  text-align: center;
  transition: .1s ease-in;
}

.ui-datepicker-current-day{
  background: #333;
  border-radius: 500px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 4px 4px 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 20px;
 transform: scale(1.01);
  transition: .1s ease-in;
}

.ui-datepicker-current-day > a{
  color: #fff;
    transition: .1s ease-in;
}

/*------------------------*/
/*          Cards         */
/*------------------------*/

.null-card {
  display: block;
  height: 200px;
  width:100%;
  margin-top: 130px;
}

.null-card h1 {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
  font-weight: 100;
  color:#999999;
}

.back-large{
  font-size: 23px;
  font-weight: 200;
  color: #333;
}

.back-large > span{
  font-weight: 300;
  color: orange;
}

@media screen and (min-width: 500px){

  .card-large{
    width: 35%;
    height: auto;
    padding: 40px;
    min-width: 350px;
    background: white;
    margin: 20px 0;
  }

  .card-large:hover{
    width: 35%;
    height: auto;
    padding: 40px;
    min-width: 350px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px;
    -moz-box-shadow: rgba(0,0,0,0.1) 4px 4px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px;
    background: white;
    margin: 20px 0;
      transition: .1s ease-in-out;
  }

  .card-large > p{
    text-align: justify;
    font-weight: 200;
    color: #666;
    padding-bottom: 20px;
  }

  .card-divider{
    display: flex;
    height: 100px;
    width: 100%;
    min-width: 350px;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card-divider:nth-of-type(2){
    margin-bottom: 0;
  }

  .card-divider:nth-of-type(2) > div:nth-of-type(2){
    height: auto;
  }

  .card-divider:nth-of-type(2) .card-time{
    top: 0;
    transform: none;
  }

  .card-request-divider{
    display: flex;
    height: 100px;
    width: 100%;
    min-width: 350px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card-detail{
    flex-grow: 1;
    height: 100%;
  }

  .date > h1{
    font-size: 70px;
    font-weight: 200;
    line-height: 30px;
    position: relative;
    text-align: center;
    padding: 20px 0;
  }

  .date > h1 > span{
    font-size: 20px;
  }

  .card-detail > div{
    height: 50%;
    width: 100%;
  }

  .card-name > h1{
    font-size: 22px;
    position: relative;
    font-weight: 200;
    line-height: 25px;
  }

  .card-name > h1 > span{
    font-size: 15px;
    font-weight: 200;
  }

  .card-description h2{
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 200;
    font-size: 16px;
  }

  .card-time{
    float: left;
    position: relative;
  }

  .card-location{
    float: right;
    margin-right: 25px;
    text-transform: uppercase;
  }

  .card-small-wrapper{
    width: 35%;
    min-width: 350px;
    height: auto;
  }

  .card-small{
    width: 100%;
    padding: 40px;
    min-width: 350px;
    margin: 20px 0;
    display: flex;
    height: 100px;
    min-width: 350px;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .3s ease-in-out;
  }

  .card-small:hover{
    background: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px;
    -moz-box-shadow: rgba(0,0,0,0.1) 4px 4px 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 4px 20px;
    transition: .1s ease-in-out;
  }

  .card-breaker{
    display: none;
  }

  .card-request > p{
    padding: 20px 0;
  }

  .teacher-pic{
    width: 90px;
    height: 90px;
    border-radius: 200px;
    background: #333;
    margin-right: 10px;
  }

  .teacher-name > h1{
    font-size: 22px;
    position: relative;
    font-weight: 200;
    line-height: 25px;
  }

  .teacher-name > h1 > span{
    font-size: 15px;
    font-weight: 300;
    padding-left: 20px;
    color: #acacac;
  }

  .teacher-skills{
    line-height: 50px;
  }

  .card-request .card-description h2{
    top: 0;
    transform: none;
  }

  .card-request-small > div:nth-of-type(1){
    height: 90px;
  }

  .card-request-small > div{
    height: auto;
  }

  .card-request-small .card-description h2{
    top: 0;
    transform: none;
  }

  .card-description > .card-school{
    top: 0;
    transform: none;
    font-size: 13px;
  }

  .card-name.student-name > h1 > span {
    font-weight: 400;
    padding-left: 10px;
    color: orange;
    font-size: 20px;
  }
  .card-name.student-name > h1 {
    font-size: 20px;
  }

  .card-request-divider > .card-detail > .card-name {
    height: auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 500px){
  .card-large{
    width: 100%;
    height: auto;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    background: white;
    margin: 20px 0;
    box-sizing: border-box;
    position: relative;
  }

  .card-large > p{
    text-align: justify;
    font-weight: 200;
    color: #666;
    padding-bottom: 50px;
  }

  .card-divider{
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .card-request-divider{
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
  }

  .subject-detail{
    flex-grow: 1;
    height: 100%;
  }

  .date > h1{
    font-size: 70px;
    font-weight: 200;
    line-height: 30px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin-right: 10px;
  }

  .date > h1 > span{
    font-size: 20px;
  }

  .card-detail > div{
    width: 100%;
  }

  .card-name > h1{
    font-size: 22px;
    position: relative;
    font-weight: 200;
    line-height: 25px;
  }

  .card-name > h1 > span{
    font-size: 15px;
    font-weight: 200;
  }

  .card-description{
    padding-top: 15px;
  }

  .card-description h2{
    display: inline-block;
    position: relative;
    font-weight: 200;
    font-size: 16px;
  }

  .card-time{
    position: relative;
  }

  .card-location{
    padding-left: 0;
    text-transform: uppercase;
  }

  .card-small-wrapper{
    width: 100%;
    height: auto;
  }

  .card-small{
    width: 100%;
    padding: 40px;
    margin: 20px 0;
    display: block;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    transition: .3s ease-in-out;
    box-sizing: border-box;
  }

  .card-small .subject-location{
    padding-left: 0;
  }

  .card-small:hover{
    background: white;
    transition: .3s ease-in-out;
  }

  .card-breaker{
    display: block;
  }

  .card-request > p{
    padding: 20px 0;
  }

  .teacher-pic{
    width: 90px;
    height: 90px;
    border-radius: 200px;
    background: #333;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  .teacher-name > h1{
    font-size: 22px;
    position: relative;
    font-weight: 200;
    line-height: 25px;
  }

  .teacher-name > h1 > span{
    font-size: 15px;
    font-weight: 100;
    padding-left: 20px;
  }

  .teacher-skills{
    line-height: 50px;
  }

  .card-request-small > div:nth-of-type(1){
    height: 90px;
  }

  .card-request-small > div{
    height: auto;
  }

  .card-request-small .card-description h2{
    transform: none;
  }

  .student-name span {
    padding-left: 10px;
    font-weight: 300;
    color: orange;
  }

  .card-name.student-name > h1 > span {
      font-weight: 400;
      padding-left: 10px;
      color: orange;
  }

  .card-name.student-name > h1 {
    font-size: 20px;
  }

  .student-name{
    text-align: center;
  }

  .student-description{
    text-align: center;
  }
}

/*------------------------*/
/*       Responsive       */
/*------------------------*/

@media screen and (max-width: 900px){

  #name{
    font-size: 25px;
  }

  .float-button {
    display: inline-block;
}

  .logo{
    display: none;
  }

  .close-button{
    display: block;
  }

  .left-sidebar{
    z-index: 20;
    margin-left: -1000px;
    transition: .5s ease-in-out;
    position: absolute;
    width: 100vw;
  }

  .select label > span{
    padding-right: 4px;
  }

  .content-area{
    padding: 15px;
  }

  .select{
    text-align: center;
  }

  .selection{
    margin-right: 0;
  }
}

.content-area-active{
  display: none;
}

.left-sidebar-active{
  display: block;
  margin-left: 0;
  transition: .5s ease-in-out;
  height: auto;
  padding-top: 40px;
}

.sub-menu-button-wrapper > .button:nth-of-type(1){
  margin-right: 20px;
}
